:root {
  --body-bg: #fddcd2;

  --header-bg: #110505;
  --header-text: #efabd4;

  --main-bg: ##fddcd2;
  --main-text: #070404;
  --main-title-bg: #efabd4;

  --card-bg: #74e93a7b;
  --card-text: #201e1d;
}